<a href="https://colab.research.google.com/github/syedibrahimt/ai_ml/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
number_list = [1,2,3,4,5,6,7]

In [2]:
doubles = [x*2 for x in number_list]
print(doubles)

[2, 4, 6, 8, 10, 12, 14]

In [3]:
triples = [x*3 for x in number_list]

In [4]:
double_first_100 = [x*2 for x in range(1,101)]

In [5]:
double_first_100

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

In [6]:
fruits_list = ['apple', 'vbanana', 'cherry']
upper_friuts = [fruit.upper() for fruit in fruits_list]

In [7]:
upper_friuts

['APPLE', 'VBANANA', 'CHERRY']

In [8]:
def make_cake():
  print('Makeing cake')

In [9]:
make_cake()

Makeing cake

In [23]:
def add_cream(func):
  def wrapper(*args, **kwargs):
    print("Adding Cream")
    func(*args, **kwargs)
  return wrapper

In [24]:
@add_cream
def make_cake(flavour):
  print(f'Makeing {flavour} cake')

In [25]:
make_cake('Vanilla')

Adding Cream
Makeing Vanilla cake

In [6]:
def add_masala(func):
  def wrapper(*args, **kwargs):
    print('Adding Biriyani masala')
    func(*args, **kwargs);
  return wrapper

In [7]:
@add_masala
def make_lunch(rice_type):
  print(f"Make rice with {rice_type} rice")

In [8]:
make_lunch('Basmati')

Adding Biriyani masala
Make rice with Basmati rice

In [9]:
import numpy as np

In [10]:
arr_1d = np.array([1,2,3,4])

In [11]:
arr_1d

array([1, 2, 3, 4])

In [12]:
arr_1d.shape

(4,)